[submodule "Frontend_Messenger"]
	path = Frontend_Messenger
	url = https://github.com/CandyPopsWorld/Frontend_Messenger
[submodule "messenger-backend"]
	path = messenger-backend
	url = https://github.com/ShavelSoSmetanoi/messenger-backend
[submodule "messenger-documentation"]
	path = messenger-documentation
	url = https://github.com/Kuan67-sml/messenger-documentation.git
[submodule "messenger-testing"]
	path = messenger-testing
	url = https://github.com/dlsingle/messenger-testing.git
