# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/Frontend/dist
/Frontend/tmp
/Frontend/out-tsc
/Frontend/bazel-out

# Node
/Frontend/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
/Frontend/.idea/
Frontend/.project
/Frontend/.classpath
/Frontend/.c9/
*.launch
/Frontend/.settings/
*.sublime-workspace

# Visual Studio Code
/Frontend/.vscode/
/Frontend/.vscode/*
!/Frontend/.vscode/settings.json
!/Frontend/.vscode/tasks.json
!/Frontend/.vscode/launch.json
!/Frontend/.vscode/extensions.json
/Frontend/.history/*

# Miscellaneous
/Frontend/.angular/cache
/Frontend/.sass-cache/
/Frontend/connect.lock
/Frontend/coverage
/Frontend/libpeerconnection.log
/Frontend/testem.log
/Frontend/typings

# System files
/Frontend/.DS_Store
/Frontend/Thumbs.db
